# Скрипт парсинга
TELEGRAM_API_ID=
TELEGRAM_API_HASH=
TELEGRAM_PHONE=
TELEGRAM_SESSION_NAME=
TARGET_CHANNEL_LINK=

# Необязательные (переопределяют значения по умолчанию)
# Имя файла сессии (без .session)
TELEGRAM_SESSION_NAME=

# True - парсить после даты, False - последние N
PARSE_BY_DATE=

# Используется если PARSE_BY_DATE=True
START_DATE_STR=
DATE_FORMAT=

# True - локальный пояс, False - использовать TIME_ZONE_STR
AUTO_DETECT_TIMEZONE=

# Используется если AUTO_DETECT_TIMEZONE=False
TIME_ZONE_STR=

# Сколько последних сообщений парсить (если PARSE_BY_DATE=False)
MESSAGE_LIMIT=

# Куда сохранять JSON
OUTPUT_DIRECTORY=

# Сохранять ли результат
SAVE_TO_JSON=

# LLM API
GIGACHAT_API_KEY=


# === PostgreSQL Database Settings ===
# Имя сервиса Postgres в docker-compose.yml
DB_HOST=
DB_PORT=
DB_USER=
DB_PASSWORD=
DB_NAME=